.red {
	color:				red;
	font-weight:		bold;
}

.title {
	font-size:			150%;
}

.hide {
	display:			none;
}

span {
	font-style:			italic;
	color:				blue;
}

input[type=number] {
	width:				30px;
	text-align:				right;
}

table {
	width:				50%;
	margin-left:		20px;
}
