body {
	margin:				10px 0px;
	width:				300px;
	font-family:		"Segoe UI", Tahoma, sans-serif;
	font-size:			12px;
}

body::-webkit-scrollbar {
	display: none;
}

div {
	width:				100%;
	display:			none;
}

table {
	width:				100%;
	border-spacing:		0px 10px;
	-moz-user-select:	none; /* Old versions of Firefox */
	user-select:		none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

td {
	vertical-align:		middle;
}

input {
	border:				1px ridge #BBB;
}

select {
	width:				100%;
}

#login tr:first-child td {
	font-size:			125%;
	font-weight:		bold;
	font-style:			italic;
	height:				50px;
}

#login input[type=text] {
	width:				100%;
}

#webResults {
	display:			block;
	max-height:			381px;
	overflow-y:			auto;
	overflow-x:			hidden;
	border-collapse:	collapse;
	padding-bottom:		10px;
	scrollbar-color:	#08E #CCD;
	scrollbar-width:	thin;
}

#webResults td {
	padding:			7px;
}

#searchResultsDiv {
	display:			block;
	max-height:			300px;
	overflow:			hidden;
	scrollbar-color:	#08E #CCD;
	scrollbar-width:	thin;
}

#searchResults {
	width:				90%;
	margin-left:		auto;
	margin-right:		auto;
	border-spacing:		0px;
	margin-bottom:		10px;
}

#searchResults tr {
	overflow:			hidden;
	white-space:		nowrap;
}

#searchResults td {
	overflow:			hidden;
	display:			inline-block;
	white-space:		nowrap;
	padding:			5px 0px;
}

#webResults tr:hover,
#searchResults tr:hover {
	background-color:	#EEEEF6;
}

#webResults td:not(:last-child):hover,
#searchResults td:hover {
	font-weight:		bold;
	color:				red;
	transform:			scale(1.15);
	overflow:			visible;
}

#searchResults td:nth-child(1):hover {
	padding-left:		10px;
}

#control {
	border-spacing:		2px 0px;
	width:				90%;
	margin-left:		auto;
	margin-right:		auto;
	border-top:			2px solid #888;
}

#control td {
	width:				18.75%;
	text-align:			center;
	padding-top:		10px;
}

#newPass, #tableSearch {
	width:				75%;
	margin-left:		auto;
	margin-right:		auto;
}

#tableSearch {
	border-spacing:		0px;
	padding:			10px 0px;
}

.center
{
	 text-align:		center;
}

.warning {
	color:				red;
	font-size:			90%;
}

.href {
	color:				blue;
	text-decoration:	underline blue;
}

#divLogin {
	width:				85%;
	margin-left:		auto;
	margin-right:		auto;
}

#divNoLogins {
	width:				80%;
	margin-left:		auto;
	margin-right:		auto;
	white-space:		nowrap;
	font-weight:		bold;
	border-bottom:		1px solid #B22;
	border-top:			1px solid #B22;
	padding:			10px;
}

.infoDB {
	font-size:			11px;
	white-space:		nowrap;
	color:				#AAA;
}

#textTotalLogins:hover {
	font-size:			13px;
	color:				#555;
}

#divCountdown {
	z-index:			1;
	position:			fixed;
	right: 				5px;
	bottom:				5px;
	width:				70px;
	height:				70px;
	padding:			0px;
	line-height:		1.4em;
	background-color:	#000;
	font-size:			46px;
	font-weight:		bold;
	text-align:			center;
	color:				white;
	border-radius:		50%;
}

button, input[type=button] {
	border:				1px solid rgba(0, 0, 0, 0.2);
	background:			none;
	box-shadow:			none;
	border-radius:		0px;
}

input:focus, textarea:focus, select:focus, button:hover {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

#save, #cancel {
	width:				70px;
}


#cellGenerator {
	border-spacing:		0 5px;
}

textarea {
	height:				100px;
	width:				100%;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}

img {
	opacity:			0.4;
}

img:hover {
	opacity:			1;
}

::-webkit-scrollbar {
    width:				8px;
    background-color:	#CCD;
}

::-webkit-scrollbar-thumb {
    background-color:	#08E;
}
